/*******tic-tac-toe******/
#game_play {
  display: none;
}

table {
  border-collapse: collapse;
 display: inline-block;
 
}

.validity.ng-invalid {
  border: 1px solid red;
}

td {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  font-size: 48px;
  text-shadow: 2px 2px #AF96A3;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  background: #F9EDFF;
  position: relative ;
  
}
caption {
  color: #47D147;
}
td:after {
  display: block;
  text-shadow: none;
  content: attr(id);
  font-size: 10px;
  color: #333333;
  position: absolute;
  left: 50%;
  bottom: 0;
}

#message {
  font-weight: bold;
  padding: 5px;
  font-family: monospace;
  font-size: 150%;
}
.winner {
  background: limegreen;
}


.gameerror: {
  border: 1px solid red !important;
}
.game_Play {
  display: block;
}
/*******tic-tac-toe END******/