<form  name="myForm"  class="form-horizontal" novalidate>


    <div class="form-group" ng-class="{'has-error': myForm.firstname.$touched && myForm.firstname.$invalid }">
        <label class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-4">
        
            <input class="form-control" type="text" name="firstname"
                ng-model="user.Firstname"  placeholder="john" pattern="^[a-zA-Z0-9]+$"
                required/>
                
        </div>
    </div>


    <div class="form-group"  ng-class="{'has-error': myForm.lastname.$touched && myForm.lastname.$invalid }"> 
        <label  class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-4">
            <input class="form-control" type="text"  name="lastname"
                ng-model="user.Lastname" placeholder="smith" pattern="^[a-zA-Z0-9]+$"
              required/> 
    
        </div>
    </div>




    <div class="form-group" ng-class="{'has-error': myForm.username.$touched && myForm.username.$invalid }" > 
        <label  class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
            <input type="text" placeholder="johnSmith" ng-model="user.Username" class="form-control" name="username"
            pattern="^([a-zA-Z0-9]|@|_)+$" required/> 
    </div>
    </div>


    <div class="form-group" ng-class="{'has-error': myForm.email.$touched && myForm.email.$invalid }"> 
        <label class="col-sm-2 control-label">Email address</label>
        <div class="col-sm-4">
            <input class="form-control" name="email" type="email" ng-model="user.Email"
                placeholder="something@domain.com"required/>

    </div>
</div>

    <div class="form-group" ng-class="{'has-error': myForm.password.$touched && myForm.password.$invalid }" >
        <label  class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" 
                ng-model="user.Password"
                placeholder="Password"  name="password" required/>   
    </div>
</div>


    <div class="form-group" >
        <div class="col-sm-offset-3 col-sm-10">
            <button class="btn btn-success"  ng-click="submit();" 
                style="margin-right:420px;"  ng-disabled="myForm.$invalid" type="submit"> Submit</button>   
        </div>
    </div>
    <div class="alert alert-success" ng-show="msg.length > 0">
        <span>{{msg}} </span>
    </div>
</form>