<h1>Tic Tac Toe</h1>
<div>
  <form >
    <label>How many rows and colums? </label>
    <br />
    <input type = 'number' id = "row_length" ng-model = "rowLength" ng-min = "3" ng-max ="12"/>
    <br />
    <label>Winning streak length?</label>
    <br />
    <input type = 'number' id = 'streakLength' ng-model = "streakLength" />
    <br />
    <br />
    <button class = "btn-success btn span3" ng-click = 'startnewGame(rowLength);'>Start new game</button>
  </form>
</div>
<div id = 'game_play'>
  <table id = 'gameboard' style = "align:center;">
    <caption id = 'message'></caption>
    <tbody id = 'gameboard_rows'></tbody>
    <tr ng-repeat = "i in convertToArray(rowLength) track by $index" ng-init="sectionIndex = $index" >
      <td ng-repeat = "j in convertToArray(rowLength) track by $index"   ng-click = "oncheck(sectionIndex,$index);"> 
        <div ng-if = "gameFieldArray[sectionIndex][$index]">
          {{gameFieldArray[sectionIndex][$index]}}
        </div>
      </td>
    </tr>
  </table>
</div>











